  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    overflow-x: hidden; 
  background:url("http://nepszava.hu/picture/113426/normal/453/00453178.jpeg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  
  
}
header{
  color:lemonchiffon ;
  font-size:40px;
  text-align:center;
}
.container{
  margin-top:40px;
  
  max-width:400px;
  margin:auto;
  border-radius:5px;
  margin-bottom:20px;
  
}
#rand{
  display:block;
  margin:auto;
  margin-top:40px;
  background-color:MediumAquaMarine  ;
  color:CornflowerBlue ;
  padding:10px;
  border:none;
  color:white;
  transition:1s;
}
#rand:hover{
  background:skyblue ;
}
input{
  text-align:center;
  border-radius:5px;
  display:block;
  margin:auto;
  
  background-color:lightblue;
  
  
}

#inp:active {
  outline:none;
    
  border:none ;
}
#inp:focus{
  outline:none;
}


form{
  
  margin-top:30px;
}
#sear{
  display:block;
  margin:20px auto;
  background-color:MediumAquaMarine ;
  border:none;
  color:white;
  padding:8px;
  transition:1s;
}
#sear:hover{
  background:skyblue;
}
a{
  font-size:30px;
  color:rgb(255,223,164) ;
  text-decoration:none;
  transition: 1s;
  
}
a:hover{
  /*color:LightSteelBlue ;*/
  font-size:40px;
}
h3{
  font-size:1.2em;
  margin-bottom:50px;
}
#art{
  
  max-width:700px;
  text-align:left;
  margin:auto;
}
button{
  border-radius:5px;
}
footer{
  margin-top:200px;
  text-align:center;
}
.cikk{
  border:1px solid black;
  margin-bottom:10px;
  max-width:690px;
  border-radius:5px;
  box-shadow: 10px 5px 5px;
  padding:2px;
  padding-left:5px;
  background:linear-gradient(to right, DodgerBlue  ,slateblue);
  transition:0.1s;
  border:none;
  opacity:0.9
  
}
.cikk:hover{
  border:3px solid lightblue
}

